################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EWA/.vs/EWA/v15
obj
bin
/react/node_modules
.idea